$darkPrimaryColor: #00796B;
$primaryColor: #009688;
$lightPrimaryColor: #B2DFDB;
$textPrimaryColor: #FFFFFF;
$accentColor: #CDDC39;
$primaryTextColor: #212121;
$secondaryTextColor: #727272;
$dividerColor: #B6B6B6;

$colorMenu: rgba(25, 25, 25, 0.7);
$colorHome: rgba(156, 214, 10, 1.00);
$colorSkills: rgba(214, 13, 53, 0.90);
$colorProjects: rgb(252, 255, 255);
$colorContacts: rgba(214, 143, 37, 0.90);

$smallBreak: 640px;
$mediumBreak: 1280px;
