@import "colors";

.about-me {
    background-image: url('../assets/2015-04-Life-of-Pix-free-stock-photos-city-sea-sky-building-Jay-Darvishian.jpg');
    overflow: hidden;
    color: white;
    padding: 0;

    h1 {
        padding-top: 0px;
    }

    .content {
        width: 40%;
        margin: 0 5%;
        padding: 5% 5% 8% 5%;
        background: $colorHome;


        @media screen and (max-width: $smallBreak) {
            width: 90%;
        }

        h1 {
            font-size: 7vmin;
        }

        h2 {
            font-size: 4vmin;
        }

        span {
            font-size: 3vmin;
        }
    }

}
