@import "values";

#projects {
    background-image: url('../assets/city-731296_1280.jpg');
    position: relative;

    .list-project {
        position: absolute;
        top: $menuHeight;
        left: 00px;
        bottom: 00px;
        right: 00px;
        padding: 40px;
        margin: -1%;

        .bloc-item {
            float: left;
            width: 23%;
            height: 47%;
            margin: 1%;
            text-decoration: none;
            background-size: cover;
            background-position: 50% 40%;
            position: relative;
            transition: all 0.5s ease;
            overflow: hidden;

            @media screen and (max-width: $mediumBreak) {
                width: 48%;
                &:nth-child(n + 5) {
                    display: none;
                }
            }

            @media screen and (max-width: $smallBreak) {
                width: 100%;
                &:nth-child(n + 3) {
                    display: none;
                }
            }

            .title {
                color: white;
                height: 100%;
                width: 100%;
                background: $colorProjects;
                font-size: 3.0vmin;
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: flex-end;
                text-align: left;
                padding: 10px;
                transform: translate(100%, 0);
                transition: all 0.5s ease;
            }



            &:hover {
                background-position: 70%;
                .title {
                    transform: translate(0, 0);
                }
            }

        }
    }
}
