$colorMenu: rgba(25, 25, 25, 0.7);
$colorHome: rgb(214, 14, 52);
$colorSkills: rgba(255, 255, 255, 0.40);
$colorBackrgoundProjects: rgba(0, 144, 255, 0.7);
$colorProjects: rgba(0, 144, 255, 0.9);
$colorContacts: rgba(232, 184, 0, 0.7);
$colorProjectsMenu: rgba(0, 144, 255, 1.00);
$colorSkillsMenu: #FFFFFF;
$colorContactsMenu: rgba(232, 184, 0, 1.00);

$smallBreak: 640px;
$mediumBreak: 1280px;
$menuHeight: 120px;
