$darkPrimaryColor: #00796B;
$primaryColor: #009688;
$lightPrimaryColor: #B2DFDB;
$textPrimaryColor: #FFFFFF;
$accentColor: #CDDC39;
$primaryTextColor: #212121;
$secondaryTextColor: #727272;
$dividerColor: #B6B6B6;

$colorMenu: rgba(25, 25, 25, 0.7);
$colorHome: rgba(156, 214, 10, 1.00);
$colorSkills: rgba(255, 255, 255, 0.40);
$colorBackrgoundProjects: rgba(217, 238, 255, 0.70);
$colorProjects: rgba(0, 144, 255, 0.9);
$colorContacts: rgba(232, 184, 0, 0.7);

$colorProjectsMenu: rgba(0, 144, 255, 1.00);
$colorSkillsMenu: #FFFFFF;
$colorContactsMenu: rgba(232, 184, 0, 1.00);

$smallBreak: 640px;
$mediumBreak: 1280px;
$menuHeight: 120px;
