<article class="slide contacts full-screen" id="contact">
    <h1>Contact</h1>

    <div class="socials-media"></div>

    <div class="bloc-item small-item bloc-item-linkedin">
            <span>
                <a href="http://fr.linkedin.com/pub/guillaume-roussel/3b/351/b7b">
                    Linkedin
                </a>
            </span>
    </div>


    <div class="bloc-item small-item bloc-item-twitter">
            <span>
            <a href="https://twitter.com/#!/RG_exod">
                Twitter
            </a>
            </span>
    </div>

    <div class="bloc-item small-item bloc-item-facebook">
            <span>
            <a href="http://www.facebook.com/people/Guillaume-Roussel/1185898373">
                Facebook
            </a>
            </span>
    </div>

    <div class="bloc-item small-item bloc-item-google-p">
            <span>
            <a href="https://plus.google.com/u/0/111719416459197719190/posts">
                Google +
            </a>
            </span>
    </div>
</article>
