<div class="slide about-me full-screen">

    <div class="content">
        <h1>Guillaume Roussel</h1>
        <h2>Web and mobile developper</h2>
        <span>
            Very curious developper, I work on solutions <strong>designed for mobiles</strong> and that make your life easier. Multitechnology specialist in front end applications and connected data sources, I'm really excited about the future and all possibilities.<br/>
        </span>
        <div class="button"><a target="_blank" href="./assets/GUILLAUME_ROUSSEL_CV.pdf"><button >See my Resume</button></a></div>

    </div>
</div>
