<div class="slide about-me full-screen">

    <header class="content">
        <h1>Guillaume Roussel</h1>
        <h2>Web and mobile developer</h2>
        <span>
            Very curious developer, I work on solutions <strong>designed for mobiles</strong> and that make your life easier. Multitechnology specialist in front end applications and connected data sources, I'm really excited about the future and all possibilities.<br/>
        </span>
        <div class="button"><a target="_blank" href="./assets/GUILLAUMEROUSSELCV.pdf"><button >See my Resume</button></a></div>

    </header>
</div>
