<div class="slide projects full-screen" id="projects">
    <div class="list-project">

        <div class="bloc-item" style="background-image:url('./assets/370973576_9c1c871c39_z.jpg')">
            <div class="inner-item">
                <span class="title">Library Animated Design</span>
                <span class="desc">Easy deployment and monitoring of your html5 applications form your sas plateform. This plateform had been built with angularjs for the front-end and with yii framework for the back-end.</span>
            </div>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/kiwapp.png')">
            <div class="inner-item">
                <span class="title">Applications HTML5 deployer for Kiwapp</span>
                <span class="desc">Easy deployment and monitoring of your html5 applications form your sas plateform. This plateform had been built with angularjs for the front-end and with yii framework for the back-end.</span>
            </div>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/mescompteBNP.png')">
            <div class="inner-item">
                <span class="title">Mass market application for BNP</span>
                <span class="desc"></span>
            </div>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/caidf.png')">
            <div class="inner-item">
                <span class="title">Self-Service application for Credit Agricole</span>
                <span class="desc"></span>
            </div>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/soge.png')">
            <div class="inner-item">
                <span class="title">Agency waitting application for Société général</span>
                <span class="desc">Application for notify your arrival in an agency. With this angular interface you fan select your advisor, and he is called on his phone with the client name's.
With this application we have reduced the waitting time for the client and improved the user experience in agency.</span>
            </div>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/merial.png')">
            <div class="inner-item">
                <span class="title">Self-service product catalog for Merial</span>
                <span class="desc"></span>
            </div>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/nl.png')">
            <div class="inner-item">
                <span class="title">Contact Form in shop for New Look</span>
                <span class="desc"></span>
            </div>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/screenshootPortfolio.png')">
            <div class="inner-item">
                <span class="title">This Portfolio</span>
                <span class="desc">One challenge for this application was to build a ergonomic and evolutive interface web with only front-end technologies. I use angularJS for the portfolio part and markdom and hot depolyement for writting and update the blog articles.</span>
            </div>
        </div>
    </div>
</div>
