<div class="slide projects full-screen" id="projects">
    <h1>Projects</h1>

    <div class="list-project">

        <div class="bloc-item" style="background-image:url('./assets/370973576_9c1c871c39_z.jpg')">
            <span class="title"><span>Library Animated Design</span></span>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/kiwapp.png')">
            <span class="title"><span>Applications HTML5 deployer for Kiwapp</span></span>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/mescompteBNP.png')">
            <span class="title"><span>Mass market application for BNP</span></span>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/caidf.png')">
            <span class="title"><span>Self-Service application for Credit Agricole</span></span>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/soge.png')">
            <span class="title"><span>Agency waitting application for Société général</span></span>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/merial.png')">
            <span class="title"><span>Self-service product catalog for Merial</span></span>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/nl.png')">
            <span class="title"><span>Contact Form in shop for New Look</span></span>
        </div>

        <div class="bloc-item" style="background-image:url('./assets/screenshootPortfolio.png')">
            <span class="title"><span>This Portfolio</span></span>
        </div>
    </div>


    <!--<a class="bloc-item" ng-repeat="project in projects track by $index" href="{{project.html_url}}">-->
        <!--<span class="title">{{project.name}}</span><span class="desc">{{project.description}}</span>-->
    <!--</a>-->

</div>
