<article class="slide skills full-screen" id="skills">
    <h1>Skills</h1>
    <vertical-bar-chart
            data="valueSkills"
            color="colors"></vertical-bar-chart>
    <div class="grid">
        <div class="awesome">Awesome</div>
        <div class="excellent">Excellent</div>
        <div class="great">Great</div>
        <div class="not-bad">Not Bad</div>
        <div class="very-sad">Very sad</div>
        <div class="none">No comment</div>
    </div>
    <div class="category">
        <div class="front">Front</div>
        <div class="mobile">Mobile</div>
        <div class="backend">Backend</div>
        <div class="lead">Development Tools</div>
    </div>
</article>
